<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Individual</title>
    <link href="css/media_query.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="css/animate.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css"/>
    <link href="css/owl.theme.default.css" rel="stylesheet" type="text/css"/>
   
    <link href="css/style_1.css" rel="stylesheet" type="text/css"/>

    <script src="js/modernizr-3.5.0.min.js"></script>
</head>
<body class="single">
    <div class="container-fluid fh5co_header_bg">
        <div class="container">
            
            <div class="row">
                <div class="col-12 fh5co_mediya_center mt-1">
                    <div class="col-4 float-left">
                        <i class="fa fa-clock-o"></i> fecha : <div id="actual"></div></a>
                    </div>
                    <div class="col-4 float-right">
                        <div class="float-left mt-2">
                            Siguenos en : 
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div></a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-google"></i></div></a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 fh5co_padding_menu">
                    <img src="Noticias/ep.png" alt="img" class="fh5co_logo_width"/> Encargada de divulgar historias de peruanos exitosos
                </div>
                <div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
                    <button class="btn btn-primary"  onclick="location.href='login'">
                        iniciar sesion
                    </button>
                    <button class="btn btn-secondary">
                        Registrarse
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
        <div class="container padding_786">
            <nav class="navbar navbar-toggleable-md navbar-light ">
                <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                <a class="navbar-brand" href="#"><img src="images/logo.png" alt="img" class="mobile_logo_width"/></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Portada <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/tecnologia">Tecnologia <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="blog">Arte <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="blog">Deporte <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="blog">Economia <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="blog">Educacion <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="blog">Negocio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="blog">Nosotros <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    
    <!--div id="fh5co-title-box" style="background-image: url('<%=historia.image.replace(/\\\\/g, '//')%>'); background-position: 50% 90.5px;" data-stellar-background-ratio="0.5"-->
    <img id="fh5co-title-box" class="historia_image" src='<%=historia.image %>'/>
    <div class="overlay"></div>
    <div class="page-title">
        
        <h2></h2>
    </div>
</div>
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <h2><%=historia.titulo%></h2>
                <span><%=historia.created_at%></span>
                <p>
                    <%=historia.contenido%>
                </p>


                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="<%=email%>">Mensaje</button>
                
            </div>

            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Categorias</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    <a href="#" class="fh5co_tagg">Negocio</a>
                    <a href="#" class="fh5co_tagg">Tecnologia</a>
                    <a href="#" class="fh5co_tagg">Deporte</a>
                    <a href="#" class="fh5co_tagg">Arte</a>
                    <a href="#" class="fh5co_tagg">Economia</a>
                    <a href="#" class="fh5co_tagg">Educacion</a>
                </div>
            </div>
        </div>
    </div>
</div>














                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Enviar mensaje</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Correo:</label>
                            <input type="text" class="form-control" id="recipient-name" name="correo" readonly>
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">Mensaje:</label>
                            <textarea class="form-control" id="message-text" name="contenido_correo"></textarea>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button id="enviar_mensaje" type="button" class="btn btn-primary">Enviar mensaje</button>
                      </div>
                    </div>
                  </div>
                </div>














<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Mas visto</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="Noticias/uno.jpg" alt=""/></div>
                    <div>
                        <a href="#" class="d-block fh5co_small_post_heading"><span class="">Galletas contra la anemia</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Enero 29 2019</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="Noticias/dos.jpg" alt=""/></div>
                    <div>
                        <a href="#" class="d-block fh5co_small_post_heading"><span class="">Propio banco</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Enero 29 2019</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="Noticias/seis.jpg" alt=""/></div>
                    <div>
                        <a href="#" class="d-block fh5co_small_post_heading"><span class="">Nuevo producto</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i>Enero 29 2019</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="Noticias/cuatro.jpg" alt=""/></div>
                    <div>
                        <a href="#" class="d-block fh5co_small_post_heading"><span class="">Marca propia</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Enero 29 2019</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid fh5co_footer_bg pb-3">
    <div class="container animate-box">
        <div class="row">
            <div class="col-12 spdp_right py-5"><img src="Noticias/peru.png" alt="img" class="footer_logo"/></div>
            <div class="clearfix"></div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="footer_main_title py-3"> Nosotros</div>
                <div class="footer_sub_about pb-3"> Somos una compania dedicada a la divulgacion de historias de peruanos exitosos en nuestra sociedad
                </div>
                <div class="footer_mediya_icon">
                    <div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div>
                    </a></div>
                    <div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div>
                    </a></div>
                    <div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
                    </a></div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
                <div class="footer_main_title py-3"> Category</div>
                <ul class="footer_menu">
                    <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Negocio</a></li>
                    <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Tecnologia</a></li>
                    <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Arte</a></li>
                    <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Educacion</a></li>
                    <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Economia</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-5 col-lg-7 position_footer_relative">
                <div class="fh5co_news_img"><img class="h-100" src="Noticias/ep.png" alt=""/></div>
            </div>
           
        </div>
        <div class="row justify-content-center pt-2 pb-4">
            <div class="col-12 col-md-8 col-lg-7 ">
                <div class="input-group">
                    <span class="input-group-addon fh5co_footer_text_box" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                    <input type="text" class="form-control fh5co_footer_text_box" placeholder="Ingresa tu Email" aria-describedby="basic-addon1">
                    <a href="#" class="input-group-addon fh5co_footer_subcribe" id="basic-addon12"> <i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;Suscribete</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

<script src="js/jquery.waypoints.min.js"></script>

<script src="js/jquery.stellar.min.js"></script>

<script src="js/main.js"></script>
<script>if (!navigator.userAgent.match(/Android|BlackBerry|iPhone|iPad|iPod|Opera Mini|IEMobile/i)){$(window).stellar();}</script>
<script>
    var f = new Date();
    document.getElementById("actual").innerHTML  = (f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());



    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this);
      modal.find('.modal-title').text('New message to ' + recipient);
      console.log(recipient);
      modal.find('.modal-body input').val(recipient);
    })

    $('#enviar_mensaje').click(function(event){
            var mensaje_correo= $("#recipient-name").val();
            var mensaje_contenido= $("#message-text").val();
            console.log("valor de mensaje",mensaje_correo);
            console.log("valor de mensaje",mensaje_contenido);
        $.ajax('/enviar_mensaje', {
            type: 'POST',  // http method
            data: { correo: mensaje_correo, contenido: mensaje_contenido },  // data to submit
            success: function (data, status, xhr) {
                $(location).attr('href', 'https://serene-temple-34641.herokuapp.com/');
            },
            error: function (jqXhr, textStatus, errorMessage) {
                    $('p').append('Error' + errorMessage);
            }
        });


    });

</script>
</body>
</html>